{% extends "root.html" %}

{% block title %}Feature Comparison{% endblock %}

{% block main %}

{% if data %} <!-- if the page is being loaded with graph data, generate graphs -->

<button style='float: left; margin: 20px' onclick='window.open("/graph", "_self")'>&larr; New Query</button>
<div id='dash'></div>

<script src="{{ url_for('static', filename='graphFunctions.js') }}"></script>

<!-- this script unpacks data from the server, builds the Graph object, and graphs the data -->
<script type='text/javascript'>

  let data = JSON.parse('{{ data|safe }}');
 
  let db = new Dash('dash', 500, 400, 15, `{{ feature1 }}`, `{{ feature2 }}`);

  // this assumes that all datasets cover the same time range (they will all be plotted
  // left-aligned with the horizontally 'widest' dataset)
  let xlbl = new Set();
  for (let r in data) 
    for (let day of data[r].t) xlbl.add(day.slice(0,7));
  xlbl = Array(... xlbl).sort()
    .map(m => `${monthNames[parseInt(m.slice(5))-1]} ${m.slice(0,4)}`);

  // add two datasets to the dashboard per region - for features 1 & 2
  let legend = Array();
  for (let r in data) {
    let xvals = [], c = randColor();

    // factor of 10 helps space out data (i.e. 10px wide per data point)
    for (let i = 0; i < data[r].t.length; i++) xvals.push(10 * i);

    // exclude string feature names from datasets
    db.push(DataSet( xvals, data[r]['f1'], 1, c ));
    db.push(DataSet( xvals, data[r]['f2'], 2, c ));

    legend.push([r, c]);
  }
  
  db.xlbl = xlbl;
  db.legend(legend);
  db.drawData();

</script>

{% else %} <!-- if data is not present, provide a form for the user to request data -->

<div class="container-fluid ">
  <div class="card-deck bg-secondary p-3">
    <form class="container-fluid" action="/graph/animate" method="POST" novalidate>
      <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Select regions...  </button>

      <div class="dropdown-menu" style='max-height: 400px; overflow-y: scroll'>
        {% for r in regions %}
        <input id="{{ r }}" name="{{ r }}" class="m-1" type="checkbox" value="{{ r }}" onclick="countStates(id, value); enableSubmit(id);">{{ r }}<br> 
        {% endfor %}
      </div>
      
      <select id="feature1" class="card btn btn-light m-2" name="feature1" onchange="enableSubmit(id);">
        {% for f in features %} <option id = '{{ f }}' value = '{{ f }}'>{{ features[f] }}</option> {% endfor %}
      </select>

      <select id="feature2" class="card btn btn-light m-2" name="feature2" onchange="enableSubmit(id);">
        {% for f in features %} <option id='{{ f }}' value='{{ f }}'>{{ features[f] }}</option> {% endfor %}
      </select>
      
      <input id="submit" class="btn btn-light m-2" type="submit" value ="Submit">
    </form>
  </div>
</div>

{% endif %}

<div style='height:100px'></div>

{% endblock %}