{% extends "root.html" %}

{% block title %}Feature Comparison{% endblock %}

{% block main %}

{% if data %} <!-- if the page is being loaded with graph data, generate graphs -->

<style>
  div.lift {
    border: 1px solid rgb(71, 71, 71);
    box-shadow: 3px 3px 3px 3px gray;
  }
</style>

<button class='btn btn-info' type='button' onclick='window.open("/graph", "_self")' style='margin:25px'>New Query</button>
<div id='dash'></div>
<script src="{{ url_for('static', filename='graph.js') }}"></script>
<script type='text/javascript'>

  let data = JSON.parse('{{ data|safe }}');

  let dash = new Dash('dash', 500, 500, 15);

  for (let region in data) {
    let x = [], r = data[region];

    for (let i=0; i<r.t.length; i++) x.push(i);
    console.log(r.f1, r.f2);
    dash.push(DataSet(x, r.f1, 1));
    dash.push(DataSet(x, r.f2, 2));
  }

</script>

{% else %} <!-- if data is not present, provide a form for the user to request data -->

<div class="container-fluid ">
  <div class="card-deck bg-secondary p-3">
    <form class="container-fluid" action="/graph/animate" method="POST" novalidate>
      <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Select regions...  </button>

      <div class="dropdown-menu" style='max-height: 400px; overflow-y: scroll'>
        {% for r in regions %}
        <input id="{{ r }}" name="{{ r }}" class="m-1" type="checkbox" value="{{ r }}" onclick="countStates(id, value); enableSubmit(id);">{{ r }}<br> 
        {% endfor %}
      </div>
      
      <select id="feature1" class="card btn btn-light m-2" name="feature1" onchange="enableSubmit(id);">
        {% for f in features %} <option id = '{{ f }}' value = '{{ f }}'>{{ features[f] }}</option> {% endfor %}
      </select>

      <select id="feature2" class="card btn btn-light m-2" name="feature2" onchange="enableSubmit(id);">
        {% for f in features %} <option id='{{ f }}' value='{{ f }}'>{{ features[f] }}</option> {% endfor %}
      </select>
      
      <input id="submit" class="btn btn-light m-2" type="submit" value ="Submit">
    </form>
  </div>
</div>

{% endif %}

{% endblock %}