{% extends "root.html" %}

{% block title %}COVID-19 Data Analytics{% endblock %}

{% block main %}
<div style='padding: 10px; text-align:left; background-color: #fff2cc'>
<ul>
  <li><b>One stop Dashboard</b> developed by <b>IT Lab at UT Arlington</b> for <b>Interactive Covid-19 Data Visualization</b></li>
  <li style="color: slateblue;"><b>Base Data</b> visualization: charts, line plots, moving averages …</li>
  <li style="color: tomato;"><b>Analysis Results</b> visualization: county- and state-wise covid clusters, increase/decrease on a color-coded scale, time periods to compare, maps, zoom, hover for details</li>
  <li style="color: slateblue;">Superimpose Covid Data with demographic, economic, education, and other indicators</li>
  <li style="color: tomato;"><b>Sound Theoretical Underpinnings</b> for analysis: <i>multilayer networks, graphs, clustering, bottlenecks (centrality)</i></li>
</ul>
</div>

<!-- TODO: make this a grid layout! -->
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <a href="/graph/{{ locales[0] }}" class="text-decoration-none">
    <div class="card h-100">
    <img style='padding: 30px 0 10px 0' src="{{url_for('static', filename='web-images/homepage/animimg.png')}}" class="card-img-top" alt="...">
    <div class="card-body">
        <h3>Animated Timeline for Feature Correlation</h3>
        <p>Compare statistics from multiple regions side by side across the same time period</p>
    </div>
    <div class="card-footer"> 
      {% for L in locales %} 
      <a class='btn btn-warning' style='font-weight: bold' href='/graph/{{ L }}'>{{ L }}</a>
      {% endfor %} 
    </div>
    </div>
    </a>
  </div>

  <div class="col" >
    <a href="/usmap" class="text-decoration-none">
    <div class="card h-100">
      <img src="{{url_for('static', filename='web-images/homepage/cowizimg.png')}}" class="card-img-top" alt="..."/>
      <div class="card-body">
          <h3>Interactive Map Visualization using MLNs</h3> 
          <p>Visualize geographical regions with similar rise and decline in daily confirmed cases shift in the
              periods pre and post an event of interest (lockdown, vaccination drive, spring break, …) through interactive maps. </p>
      </div>
      <div class="card-footer">
        <a href="https://www.youtube.com/watch?v=4vJ56FYBSCg" class="text-center">
            <i class="fa fa-youtube-play" style="font-size:48px;color:red"></i>
        </a>
      </div>
    </div>
    </a>
  </div>

</div>

{% endblock %}
