{% extends "root.html" %}

{% block title %}Interactive Map Visualization{% endblock %}

{% block main %}
<div class="" style="width:100%; ">

<div class="border border-dark text-light container-fluid float-left" style="margin-top: 0; width: 18.5%; height: 2.3vw; border-radius: 0px; background-color:#008DC9;">
  <p style="margin-top:0.15vw">Cumulative <strong>WHO</strong> Update</p>
</div>

<div class="border border-dark float-right container-fluid" style="margin-top: 0; width: 81.5%; height: 2.3vw; border-radius: 0px;">
<!-- <marquee scrolldelay="10"> -->
            <span style="color:black;"><strong>WORLD:</strong></span> <span style="color:#ED7D31;">
<strong> <span id="WorldCases"></span></strong></span> | <strong><span style="color:red"><span id="WorldDeath"></span></span></strong> <img src="static/imgs/images/covid-logo.png" height="18vw"> <span style="color:black;"><strong>USA:</strong></span> <span style="color:#ED7D31;">
        <strong> <span id="USCases"></span></strong></span> | <strong><span style="color:red"><span id="USDeaths"></span></span></strong> <em>(As of <span id="lastUpdate"></span> )</em>
    <!-- </marquee> -->
</div>
</div>
<br/>
<br/>

<div class="" style="width:100%; margin-bottom:3vw; margin-top:-0.8vw">

<div class="border border-dark text-light container-fluid float-left" align="center" style="margin-top: 0; width: 18.5%; height: 4.1vw; border-radius: 0px; background-color:#4273C5;">
<p style="margin-top:1vw">Target Period Highlights</p>
</div>
    
    {% if not highlights %}
<div id = "articles" class="border border-dark float-right container-fluid scroll" align="left" style="margin-top: 0; width: 81.5%; height: 4.1vw; border-radius: 0px; background-color:#FFF2CC">
<p style="margin-top:1vw">Top COVID-19 News Headlines from the Selected Target Period</p>
    </div>
    {% else %}
    
    <div id = "articles" class="border border-dark float-right container-fluid scroll overflow-auto" align="left" style="margin-top: 0; width: 81.5%; height: 4.1vw; border-radius: 0px; background-color:#FFF2CC">
        {% for highlight in highlights %}
        <b>{{highlight['pub_date']}}: </b>{{highlight['headline']['main']}} 
        (<a href="{{highlight['web_url']}}">Details</a>)<br>
        {% endfor %}
    </div>
    
    {% endif %}
</div>
<br/>
<div class="">
    <div class="float-left" style="width: 18.5%">
        <div class="border bg-secondary border-dark container-fluid" style="width: 100%; height: 100%;">
                <div class="container-fluid">

                        {% if not ipt %}
                        <form action = "/usmap" method = "POST" novalidate>
                            
                            <select style="background-color:#BECFEB;" data-toggle="tooltip" data-placement="top" data_html = "true" title="Select the length (in number of days) for the periods to be analyzed" class=" m-2 btn btn-light" id="periodLength" name="periodLength" size="1" onchange="toBorderDark(id); adjust_min_of_2nd_period(); enable_2nd_calander(); enableSubmit(); enable_1st_calander(); set_max_date();">

                                {% for i in intervals %}
                                {% if i == 0 %}
                                <option value="{{i}}">Select an Interval</option>
                                {% else %}
                                <option value="{{i}}">{{i}} Days</option>
                                {% endif %}
                                {% endfor %}

                            </select>
                            
                            <div style="background-color:#FFF2CC;" class="card p-1" data-toggle="tooltip" data-placement="top" title="Select the period whose number of new cases form the basis of comparison">
                                <h6 class="card-title text-center">Base Period</h6>
                                <input style="background-color:#BECFEB;" class="  m-2 btn btn-light" type="date" id="start_of_startDate" min="2020-02-01" name="start_of_startDate" onchange="toBorderDark(id); enableSubmit(); adjust_min_of_2nd_period(); enable_2nd_calander(); setEnd(id); resetDates(id);" disabled>
                                
                                <label style="background-color:#4273C5;" id="end_of_startDate" class="btn m-2 btn-dark">-</label>
                            </div>
                            
                            <div class="m-1 text-light font-weight-bold">V/S</div>
                            
                            <div style="background-color:#FFF2CC;" class="card p-1" data-toggle="tooltip" data-placement="top" title="Select the period whose number of new cases are to be compared against the Base Period">
                                <h6 class="card-title text-center">Target Period</h6>
                                <input style="background-color:#BECFEB;" class="m-2  btn btn-light" type="date" id="start_of_endDate" name="start_of_endDate" min="2020-02-01" onchange="toBorderDark(id); enableSubmit(); setEnd(id);" disabled>
            
                                <label style="background-color:#4273C5;" id="end_of_endDate" class="m-2  btn btn-dark">-</label>
                            </div>

                            <select style="background-color:#BECFEB;" data-toggle="tooltip"data-placement="top" title="Select the extent of change that needs to be analyzed" class=" m-2 btn btn-light" id="interval" name="interval" size="1" onchange="toBorderDark(id);">
    
                                {% for i in rates.keys() %}
                                {% if rates[i] == -1 %}
                                <option value="{{i}}">Severity Rate</option>
                                {% else %}
                                <option value="{{i}}">{{rates[i]}}</option>
                                {% endif %}
                                {% endfor %}

                            </select>
                            <br/>
                            <input id="submit" class=" btn btn-danger m-2" type="submit" value ="Submit" onclick="loadingScreen(iframe);" disabled>
                            {% if message %}
                            <label class="text-danger form-check-label">* {{message}}</label>
                            {% endif %}
                        </form>

                        {% else %}
                        
                        <form action = "/usmap" method = "POST" novalidate>
                            
                            <select style="background-color:#BECFEB;" data-toggle="tooltip"data-placement="top" title="Select the length (in number of days) for the periods to be analyzed" class=" m-2  btn btn-light {% if check['period'] == 0 %} border-danger {% endif %}" id="periodLength" name="periodLength" size="1" onchange="toBorderDark(id); resetDates(id); adjust_min_of_2nd_period(); enable_2nd_calander(); enableSubmit(); enable_1st_calander(); set_max_date(); setEnd(id);">

                                
                                {% for i in intervals %}
                                
                                {% if i == 1 %}
                                <option value="{{i}}">Select an Interval</option>
                                {% elif i|int == ipt['periodLength']|int %}
                                <option value="{{i}}" selected>{{i}} Days</option>
                                {% else %}
                                <option value="{{i}}">{{i}}</option>
                                {% endif %}
                                {% endfor %}

                            </select>
                            
                            <div style="background-color:#FFF2CC;" class="card p-1" data-toggle="tooltip"data-placement="top" title="Select the period whose number of new cases form the basis of comparison">
                                <h6 class="card-title text-center">Base Period</h6>
                                <input style="background-color:#BECFEB;" class=" m-2 btn btn-light   {% if check['startDate'] == 0 %} border-danger {% endif %}" type="date" id="start_of_startDate" min="2020-02-01" name="start_of_startDate" value="{{ipt['start_of_startDate']}}" onchange="toBorderDark(id); adjust_min_of_2nd_period(); enable_2nd_calander(); setEnd(id); setEnd(id); resetDates(id); enableSubmit();">
                                
                                <label style="background-color:#4273C5;" id="end_of_startDate" class="m-2  btn btn-dark">{{start}}</label>
                            </div>
                            <div class="m-1 text-light font-weight-bold">V/S</div>
                            <div style="background-color:#FFF2CC;" class="card p-1" data-toggle="tooltip"data-placement="top" title="Select the period whose number of new cases are to be compared against the Base Period">
                                <h6 class="card-title text-center">Target Period</h6>
                                <input style="background-color:#BECFEB;" class=" m-2  btn btn-light {% if check['endDate'] == 0 %} border-danger {% endif %}" type="date" id="start_of_endDate" name="start_of_endDate" min="2020-02-01" value="{{ipt['start_of_endDate']}}" onchange="toBorderDark(id); enableSubmit(); setEnd(id); resetDates(id);" disabled>
                                
                                <label style="background-color:#4273C5;" id="end_of_endDate" class="m-2 btn btn-dark">{{end}}</label>
                            </div>

                            <select style="background-color:#BECFEB;" data-toggle="tooltip"data-placement="top" title="Select the extent of change that needs to be analyzed" class=" m-2  btn btn-light {% if check['interval'] == 0 %} border-danger {% endif %}" id="interval" name="interval" size="1" onchange="toBorderDark(id);">
    
                                {% for i in rates.keys() %}
                                {% if rates[i] == 0 %}
                                <option value="{{i}}">Severity Rate</option>
                                {% elif i|int == ipt['interval']|int %}
                                <option value="{{i}}" selected>{{rates[i]}}</option>
                                {% else %}
                                <option value="{{i}}">{{rates[i]}}</option>
                                {% endif %}
                                {% endfor %}

                            </select>
                            <br/>
                            <input id="submit" class=" m-2  btn btn-dark m-2" type="submit" onclick="loadingScreen();" value ="Submit">
                            {% if message %}
                            <label class="text-danger form-check-label">* {{message}}</label>
                            {% endif %}
                        </form>
                        {% endif %}
                </div> 
        </div>
    </div>

    {% if filepath %}
    <div  class="embed-responsive embed-responsive-21by9 text-center m-1 " style="width: 81.5%; position: relative;">
        <iframe id="iframe" src="{{ url_for('static', filename=filepath) }}" width="100%;" class="embed-responsive-item" allowfullscreen></iframe>
    </div>
    {% else %}
    <div class="embed-responsive embed-responsive-21by9 text-center m-1 " style="width: 81.5%; position: relative;">
        <iframe id="iframe" src="{{ url_for('static', filename='maps/default.html') }}" width="100%;" class="embed-responsive-item" allowfullscreen></iframe>
    </div>
    {% endif %}

</div>	
{% endblock %}